body {
	background-color: #2f3243;
}
.input-box {
	background-color: #393e52;
}
.dropBox {
	background-color: #393e52;
	cursor: pointer !important;
}
.m-head {
	background-color: #2f3243;
	border-bottom: 2px solid #393e52 !important;
}
.m-body {
	background-color: #2f3243;
}
.m-body > input {
	background-color: #393e52;
	outline: none;
}
.m-footer {
	background-color: #2f3243;
	border-top: 2px solid #393e52 !important;
}
.classic-button {
	outline: none;
	border: none;
}
.border-left {
	border-left: 3px solid #1b2448 !important;
}
.hovered:hover {
	background-color: #2f3243;
	opacity: 0.8;
}
.bHover:hover {
	opacity: 0.8;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.modal-body {
	background-color: #2f3243;
	border-bottom: 1px solid #393e52 !important;
}
.close {
	color: white !important;
	font-size: 32px;
	outline: none !important; 
	border: none;
}
